<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="BaseUrl">https://app.simplenote.com//</entry>
    <entry key="Username">F@yandex.ru</entry>
    <entry key="Password">????</entry>
    <entry key="Path">con-new-note</entry>
</properties>
